* {
    font-family: 'Lato', sans-serif;
}

.container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "header nav"
    "sidebar sidebar"
    "content content"
    "footer footer";
    min-height: 100vh;
    /* Removes white space from left and right */
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: #FFFFFF;
    overflow: hidden;
    
}

/* Contains american logo */
header {
    grid-area: header;
    padding: 1rem;
    background-color: rgba(234, 235, 237, .51);
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.15);
    margin-top: 0;
    padding-right: 0rem;
}

/* Contains the nav bar icon */
nav {
    grid-area: nav;
    padding: 1rem;
    background-color: rgba(234, 235, 237, .51);
    text-align: end;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.15);
    padding-left: 0rem;
}

/* Where the cards and information will take place */
main {
    margin-top: 0;
    grid-area: content;
    padding-top: 0rem;
    padding-bottom: .2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Where the form progession takes place */
aside {
    grid-area: sidebar;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    text-align: center;
    text-shadow: 1px 1px rgba(255,255,255,0.8);
}

/* Displays the footer of the website */
footer {
    grid-area: footer;
    padding: .2rem;
    margin: 0;
    background-color: #2B2B2B;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.15);
}

/* Dropdown menu for nav bar */
.dropdown-menu {
    /* moved item left to fix misalignment */
    margin-right: .7rem;
}

/* Button group for nav bar */
.btn-group {
    /* Fixed the centering issue */
    margin-top: 1.3rem;
    align-items: center;
    justify-content: center;
}
/* Changing the arrow icon sizing and alignment for form progress */
.fa-caret-right {
    padding: .7rem;
    font-size: x-large;
    color: #a9abad;
    text-shadow: 1px 1px rgba(255,255,255,0.8);
}

/* remove padding for when sizing shrinks */
.progress-arrow {
    padding-left: 0rem;
    padding-right: 0rem;
}

/* Card Header Styling */
.card-body h5 {
    text-align: center;
}

/* All primary button background color change */

.btn-primary{
    background-color: #086375;
    border-color: #086375;
}
.btn-primary:hover{
    background-color: #086375;
    border-color: #086375;
}
.btn-primary:focus {
    background-color: #086375;
    border-color: #086375;
}

.card {
    background-color: rgba(234, 235, 237, .51);
    box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25), 0px 0px 0px 1px rgba(9, 30, 66, 0.08);
    padding-bottom: 0rem;
    border-radius: 1rem;
    border-color: #B9B9B9;
}

/* form progress styling */
.nav-link .active{
    color: #086375;
}

.nav-link  {
    color: #000;
    font-size:medium;
}

.progress-info h2 {
    color: #a9abad;
}

.progress-inquiry h2 {
    
    color: #086375;
}

.progress-details h2{
    color: #a9abad;
}

/* footer styles */
.text-center p {
    color: #a9abad;
}

.text-center {
    padding: 0;
}

/* form styles */
.form-control {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
}

/* Project type radio style */
.segmented-control {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.segmented-control input[type=radio] {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}

.segmented-control label {
    flex: 1 0 auto;
    text-align: center;
    margin: 0;
    padding: 0.4rem .5rem;
    border-right: 1px solid #B9B9B9;
    cursor: pointer;
    color: inherit;
    background-color: #FFFFFF;
    border-radius: inherit;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
}

.segmented-control label:last-child {
    border: none;
}

.segmented-control input[type=radio]:checked + label,
.segmented-control input[type=radio]:focus + label {
    background-color: #086375;
    color: white;
}

#carouselExampleControls {
    display: none;
}


input[type="file"] {
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
    border: 1px solid #B9B9B9;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

input[type="file"]:hover {
    border-color: #0275d8;
}

/* Mobile/Tablets */
@media (max-width: 767px) {
    aside {
        display: none;
        height: 0;
        padding: 0;
        width: 0;
        margin: 0;
    }
    main {
        margin-top: -4.7rem;
    }
    
}
@media (max-width: 1279px) {
    .desktop-card {
        display: none;
    }
    #carouselExampleControls {
        display: block;
    }
    .carousel-control-prev, .carousel-control-next {
        filter: invert(100%);
    }
    
    .carousel-control-prev {
        padding: .1rem;
        width: 1.5rem;
    }
    .carousel-control-next {
        padding: .1rem;
        width: 1.5rem;
    }
    .carousel-indicators button{
        filter: invert(100%);
        padding-top: .5rem;
    }
    /* Relocate grid to two column for nav and header */
    .container-fluid {
        grid-template-columns: 1fr 1fr;
                        /* Header -> Sidebar -> Content -> nav -> footer */
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto);
        grid-template-areas:
        "header nav"
        "sidebar sidebar"
        "content content"
        "footer footer";
        /* min-width: 100vw; */
        overflow: hidden;
    }
    /* Main Section */
    main {
        padding: .1rem;
    }
    /* Nav Bar section */
    nav {
        padding: 0rem;
        width: 90%;
    }
    /* footer section */
    footer {
        padding: 0rem;
    }
    /* Progress Section */
    aside {
        padding: 0rem;
        padding-top: .5rem;
    }
    /* Header Section */
    header {
        padding: 0rem;
    }
    header img {
        max-width: 240px;
        max-height: 240px;
    }
    .form-progress {
        display: inline;
    }
    /* h2 tags in progress section*/
    .form-progress > h2 {
        width: min-content;
        font-size: 16px;
    }
    /* Progress Section carrot icons */
    .form-progress > .fa-caret-right {
        width: min-content;
        font-size: 16px;
    }
    /* Title of each card */
    .card-title {
        font-size: 1.25rem;
    }
    /* card body section with all information inside */
    .card-body {
        font-size: 1rem;
    }
    /* Forms on entire page */
    .form-group {
        width: 90%;
    }
    /* Font sizing for misc. */
    a, td, th {
        font-size: 1rem;
    }
    /* Row for all sections */
    .row {
        justify-content: center;
    }
    /* Hiding cards for later */
    /* .job-detail-card {
        display: none;
    } */
    /* Hiding card for later */
    /* .submit-inquery-card {
        display: none;
    } */
    .btn-group {
        /* Fixed the centering issue */
        padding-top: .8rem;
        margin-top: 1.3rem;
        align-items: center;
        justify-content: center;
    }
    select {
        width: 150px;
    }
    select:focus {
        min-width: 150px;
        width: auto;
    }  
    .col {
        padding: .1rem;
    }
    br:not(.btn-padding) {
        content: "";
        margin: .1rem;
        display: block;
        font-size: 24%;
    }
    
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }
      
      table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
      }
      
      table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
      }
      
      table th,
      table td {
        padding: .625em;
        text-align: center;
      }
      
      table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
      
      @media screen and (max-width: 600px) {
        table {
          border: 0;
        }
      
        table caption {
          font-size: 1.3em;
        }
        
        table thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
        
        table tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: .625em;
        }
        
        table td {
          border-bottom: 1px solid #ddd;
          display: block;
          font-size: .8em;
          text-align: right;
        }
        
        table td::before {
          /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
        
        table td:last-child {
          border-bottom: 0;
        }
      }
      
    
}

/* Laptops */
@media (max-width: 1582px) {
    .container-fluid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto);
        grid-template-areas:
        "header nav"
        "sidebar sidebar"
        "content content"
        "footer footer";
        /* min-width: 100vw; */
        overflow: hidden;
    }    
    header {
        padding: 0rem;
    }
    header img {
        max-width: auto;
        max-height: auto;
    }
    nav {
        justify-content: center;
        padding-right: .4rem;
        width: 100%;
    }
    main {
        padding: .2rem;
    }
    aside {
        padding-top: 1rem;
    }
    footer {
        padding: 0rem;
    }
   
    h2 {
        font-size: 1.5rem;
    }
    /* Progress Section carrot icons */
    .fa-caret-right {
        font-size: 1rem;
    }
    .card-title {
        font-size: 1.25rem;
    }
    .card-body {
        font-size: 1rem;
    }
    a, td, th {
        font-size: 1rem;
    }
   
    .card {
        padding-bottom: .5rem;
    }
    label {
        font-size: .8rem;
    }
    .btn-group {
        /* Fixed the centering issue */
        margin-top: 0rem;
        align-items: center;
        justify-content: center;
    }    
    select {
        width: 150px;
    }
    select:focus {
        min-width: 150px;
        width: auto;
    }

    .nav-item a{
        font-size: .8rem;
    }
}






